@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    font-family: "Libre Franklin", sans-serif;
}

.scrollbar-custom {
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #38bdf8 #ffffff; /* Thumb (blue) and track (gray) colors */
}

